footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8a2be2;
    color: white;
    text-align: center;
    height: 2rem;
    line-height: 7%;
    padding-bottom: .8rem;
    padding-top: .5rem;
    font-size: 13px;
}

footer a:visited {
    color: white;
}

footer a:link {
    color: white;
}

footer a:hover {
    color: gold;
}